@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    background: rgb(63, 63, 66);
}

footer {
    position: absolute;
    color: white;
    right: 0;
    bottom: 0;
    padding: 15px;
    font-size: 0.6rem;
}

.container {
    display: flex;
    width: 500px;
    border-bottom: 1px solid white;
}

.search {
    display: inline;
    color: white;
    margin-bottom: 10px;
}

.intro-text {
    display: none;
}

.typing {
    display: inline-block;
    color: white;
    font-size: 3rem;
    font-family: 'Bitter', serif;
    margin-left: 25px;
    animation-name: cursor;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}
  
@keyframes cursor {
    0% {
      border-right: 1px solid rgb(63, 63, 66);
    }
    50% {
      border-right: 1px solid #fff;
    }
    100% {
      border-right: 1px solid rgb(63, 63, 66);
    }
}

.enter {
    position: relative;
    left: 220px;
    top: 20px;
    color: white;
    margin: 30px;
    font-size: 1.3rem;
    background: rgb(63, 63, 66);
    border: none;
    display: none;
}

.enter::before {
    content: "ENTER";
}

.enter:hover::before {
    content: "٩( 'ω' )و";
    cursor: pointer;
}

