@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Great+Vibes&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');

body {
    display: flex;
    background: rgb(63, 63, 66);
    justify-content: center;
}

footer {
    position: absolute;
    color:white;
    right: 0;
    bottom: 0;
    padding: 15px;
    font-size: 0.6rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    color: white;
    padding: 20px;
    background-color:rgb(71, 71, 73);
    font-family: 'Bitter', serif;
    cursor: pointer;
}

input[type="radio"] + label:hover {
    background-color:rgb(78, 78, 78);
}

input[type="radio"]:checked + label {
    background: rgb(71, 71, 85);
    border-top: 1px solid white;
}

.conbox {
    background-color: rgb(71, 71, 85);
    display: none;
    height: 85%;
}
input[id="main"]:checked ~ .c1 {display: block;}
input[id="music"]:checked ~ .c2 {display: block;}
input[id="movie"]:checked ~ .c3 {display: block;}

.container {
    margin-top: 50px;
    width: 70%;
    height: 95%;
}

.c1 {
    /* background-image: url('../source/main_image.png'); */
    background-size: 100% 100%;
    font-family: 'Bitter', serif;
    color: white;
}

.intro {
    position: relative;
    display: flex;
    font-size: 30px;
    left: 7%;
    top: 20%;
    padding-top: 20px;
}

.intro-text {
    margin-left: 30px;
}