<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="utf8mb4">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>inu</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="topnav">
                <input class="topnav_btn" id="main" type="radio" name="topnav" value="main" checked>
                <label for="main">MAIN</label>
                <input class="topnav_btn" id="music" type="radio" name="topnav" value="music">
                <label for="music">MUSIC</label>
                <input class="topnav_btn" id="movie" type="radio" name="topnav" value="movie">
                <label for="movie">MOVIE</label>
                <div class="topnav_text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                </div>
            </div>
        </header>
        <section class="content">
            
        </section>
        <footer>
            Copyright 2020. Joinhu. All right reserved.<p style="display: inline;">&#x1F33F;</p>
        </footer>
    </div>
</body>
</html>