<!DOCTYPE html5>
<html lang="en">

<head>
    <meta charset="utf8mb4">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>inu</title>
    <style>
        #main {
            background: rgb(71, 71, 85);
            border-top: 1px solid white;
        }
    </style>
</head>

<body>
    <div class="container">
        <button class="topnav_btn" id="main" onclick="location.href='main.html'">MAIN</button>
        <button class="topnav_btn" id="music" onclick="location.href='music.html'">MUSIC</button>
        <button class="topnav_btn" id="movie" onclick="location.href='movie.html'">MOVIE</button>
        <div class="conbox c1">
            <div class="intro">
                <img class="image" src="../source/main/typing.gif">
                <div class="intro-text">
                    <h2>This page is a collection of <br>my favorite songs and movies.</h2>
                    Thank you for visiting.<br>
                    You can view contents by selecting <br>the menu at the top.<br>
                    It's okay to take a slow look and go. <br>
                    Have a nice day :)
                </div>
            </div>
        </div>
        <footer>
            Copyright 2020. Joinhu. All right reserved.<p style="display: inline;">&#x1F33F;</p>
        </footer>
    </div>
</body>

</html>