<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="utf8mb4">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>inu</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="topnav">
                <button class="topnav_btn" onclick="location.href='main.html'">MAIN</button>
                <button class="topnav_btn" onclick="location.href='music.html'">MUSIC</button>
                <button class="topnav_btn" onclick="location.href='movie.html'">MOVIE</button>
            </div>
        </header>

        <section class="content">
            <main>
                
            </main>
        </section>
        <footer>
            Copyright 2020. Joinhu. All right reserved.<p style="display: inline;">&#x1F33F;</p>
        </footer>
    </div>
</body>
</html>